div.card-body {
  background-color: rgb(252, 230, 223);
  border: 0;
}

button.btn.btn-primary {
  color: rgb(252, 230, 223);
  background-color: rgb(126, 0, 31);
  border: 0;
}

h5 {
  text-transform: uppercase;
}

body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}
